<!DOCTYPE html>
<html>
  <head>
    <title>MgrHanami</title>
    <%= favicon %>
    <%= javascript 'jquery' %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
    <%= stylesheet 'leaflet' %>
    <%= javascript 'leaflet' %>
    <%= javascript 'map' %>
    <%= stylesheet 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
