<!DOCTYPE html>
<html>
  <head>
    <title>MgrHanami</title>
    <%= favicon %>
    <%= javascript 'jquery' %>
    <%= javascript 'select2.full.min.js' %>
    <%= stylesheet 'select2.min.css' %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
    <%= stylesheet 'leaflet' %>
    <%= javascript 'leaflet' %>
    <%= javascript 'wicket' %>
    <%= javascript 'wicket-leaflet' %>
    <%= javascript 'point_form' %>
    <%= javascript 'points' %>
    <%= javascript 'line_form' %>
    <%= javascript 'lines' %>
    <%= javascript 'polygon_form' %>
    <%= javascript 'polygons' %>

    <%= javascript 'map' %>
    <%= javascript 'checkboxes' %>

    <%= javascript 'toastr.min.js' %>
    <%= stylesheet 'toastr.min.css' %>



    <%= stylesheet 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
