<!DOCTYPE html>
<html>
  <head>
    <title>MgrHanami</title>
    <%= favicon %>
    <%= javascript 'jquery' %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
    <%= stylesheet 'leaflet' %>
    <%= javascript 'leaflet' %>
    <%= javascript 'wicket' %>
    <%= javascript 'wicket-leaflet' %>
    <%= javascript 'point_form' %>
    <%= javascript 'points' %>

    <%= javascript 'map' %>
     <%= javascript 'checkboxes' %>

    <%= stylesheet 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
